/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-image: url('https://images.pexels.com/photos/1329296/pexels-photo-1329296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  color: #fff;
  background-color: #00B037;
  padding: 15px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  background-color: #2DFC6F;
}


.breadcrumbs, 
.quiz {
  color: #00B037;
  background-color: white;
  padding: 1rem;
  width: 50%;
}

.breadcrumbs {
  font-size: 1.5rem;
  font-style: italic;
}

.correct,
.wrong {
  background-color: white;
  padding: 1rem;
  width: 50%;
  
}

.correct {
  color: #00B037;
  border: 2px solid #00B037;
}

.wrong {
  color: #B01310;
  border: 2px solid #B01310;
}

#final-score {
  color: #00B037;
  background-color: white;
  border: 2px solid #00B037;
  padding: 1.5rem;
  width: 80%;
}